.login-form {
    width: 500px;
    margin:10% auto;
    background-color: rgba(15, 15, 15, 0.15);
    opacity:100%;
    border: 3px solid #000;
    box-shadow: darkgray 10px 10px 25px 5px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: right;
}

.login-form-button {
    max-width: 100px;
    width: 100%;
    margin: 20px;
}

.input-box {
    max-width: 370px;
}
