.config-form {
    width: 600px;
    margin:10% auto;
    opacity:100%;
}

.config-form-forgot {
    float: right;
}

.ant-col-rtl .config-form-forgot {
    float: right;
}

.config-form-button {
    max-width: 100px;
    width: 100%;
    margin: 20px;
}

.input-box {
    max-width: 400px;
}